[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/router-contracts"]
	path = lib/router-contracts
	url = https://github.com/Zup-Protocol/router-contracts
	branch = main
[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
